.calculator {
  display: flex;
  justify-content: center;
}

.calculator > input {
  font-size: 3rem;
  flex: 0 1 100px;
  text-align: center;
  margin: 0 2rem;
  transition: all .25s ease-in;
}

.calculator > input:last-of-type {
  order: 1;
}

.largest {
  border-color: #3ed8e6;
  transform: scale(1.2);
}

.equal {
  border-color: #e6aa49;
}

.invalid {
  border-color: #777;
  color: #777;
}