.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
}

.game > * {
  margin: .6rem 0;
}

.game > input {
  text-align: center;
  font-size: 3rem;
  transition: all .5s ease-in;
}

.feedback {
  text-align: center;
}

.game.victory > input {
  animation: pulse 2s ease-in-out infinite alternate;
}

.game.victory > input:disabled {
  border: none;
  color: #304980;
  background: transparent;
}

.game.victory > button {
  display: none;
}

@keyframes pulse {
  50% {
    transform: scale(1.2);
  }
}